<div class="container">
	<div class="main-content">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped">
	      <thead>
	        <tr>
	          <th>Item</th>
	          <th>cantidad</th>
	          <th>Precio</th>
	          <th>Precio Total</th>
	          <th></th>
	        </tr>
	      </thead>
	      <tbody>
	      <% total = 0 %>
	      	<% @carrito.each_with_index do |producto,index| %>

						<tr data-price="<%= producto[:producto].price%>">
		          <td><%= image_tag producto[:producto].image.url(:thumb) %> <%= producto[:producto].name%></td>
		          <td class="text-center">
		          	<%= text_field_tag("cantidad_#{producto[:producto].id}" , producto[:cantidad], class: "text-center items")%>
		          </td>
		          <td class="text-center price"><%= number_to_currency(producto[:producto].price, locale: :es)%> MXN</td>
		          <td class="text-center total">
		          	<%= number_to_currency(total_producto(producto), locale: :es)	%> MXN
		          	<% total += total_producto(producto)%>
		          </td>
		          <td class="text-center">
		          	<a href class="bote" data-id="<%= producto[:producto].id %>">
		          		<i class="fa fa-trash-o"></i>
		          	</a>
		          </td>
		        </tr>
					<% end %>
	      </tbody>
	    </table>

	    <div class="pull-right b">
	    	Total: <strong><%= number_to_currency(total, locale: :es) %> MXN </strong>
	    </div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top:40px;">
		<div class="col-md-6 col-md-offset-6">
			<div class="row">
				<div class="col-md-4 text-center">
					<%= button_tag "Actualizar", class: "btn btn-block btn-lg btn-primary ", id: "actualizar", :disabled => total ==0  %>
				</div>
				<div class="col-md-4 text-center">
					<%= link_to "Vaciar carrito", carrito_empty_path, class: "btn btn-block btn-lg btn-primary"%>
				</div>
				<div class="col-md-4 text-center">
					<%= button_tag "Continuar", class: "btn btn-block btn-lg btn-primary ", id: "continuar", :disabled => total ==0  %>
				</div>
			</div>
		</div>
	</div>
</div>
