<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p>Se ha generado un pedido. <br> Datos:</p>
    <h3>Hola </h3>
    <ul>
    	<li>Nombre: <%= @contact.name %> <%= @contact.last_name %></li>
    	<li>Email: <%= @contact.email %></li>
    	<li>Producto: <%= @contact.product_name %></li>
    	<li>Enlace: <%= @contact.product_link %></li>
    </ul>
  </body>
</html>