{{#each productos}}
<div class="fila row">
 <div class="col-md-1" style="z-index:3"><select id="cantidad_{{id}}" class="form-control items-producto">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
</div>
<div class="col-md-9"><span class="titulo-list">{{titulo}}</span></div>
<div id="precio_{{id}}" class="col-md-2 text-right">
 <span class="titulo-list precio-list"> ${{precio}} MXN</span></div>
</div>
{{/each}}

<div class="row">
 <div class="col-md-4 col-md-offset-8 text-right total">Total: ${{total}} MXN</div>
</div> 
<div class="row">
 <div class="col-md-6 col-md-offset-6 text-right">El costo de envío es de $160 MXN y viene incluido en el precio</div>
</div> 
<hr>

<div class="row">
 <div class="col-md-12">
  <p>Proporcionanos los siguientes datos para realizar tu pedido:</p>
</div>
</div>
<div class="row">
 <div class="col-md-8">
  <%= form_for "" do |f| %>
  <div class="form-group">
    <%= f.label :name, :class "control-label" %>
    <%= f.input :name, :class "form-control" %><br />
  </div>

  <div class="form-group">
    <%= f.label :email, :class "control-label" %>
    <%= f.input :email, :class "form-control" %><br />
  </div>
 <% end %>
</div>
</div>