<html><head></head><body>

	<div style="width: 550px;margin: 0 auto;padding-bottom: 10px; text-align:center">
    	<img style="margin: 0 auto;" src="http://bit.ly/mialacena-email">
	</div>

	<div style="width: 540px;margin: 0 auto 20px auto;border: 1px solid #EEE;border-bottom: 4px solid #EEE;padding: 25px 5px 20px 5px; color: #444444;">
        <div style="width: 480px; margin: 0 auto 20px auto;">

            <p style="font-size:16px"> Hola <%= @pedido.name %></p>
            <p><b>En cualquier momento estaremos en contacto contigo para concretar la compra de:</b></p>
            <div style="margin-left:12px;margin-right: 12px">
                <div style="padding-bottom: 1px">
                    <table width="100%">
                    <tr>
                            <td>Producto</td>
                            <td style="text-align:center">Cantidad</td>
                            <td style="text-align:right">Precio total</td>
                        </tr>

                    <% total = 160 %>
					<% @pedidos_productos.each do |pedido_producto| %>
                        <tr>
                            <td><%= pedido_producto.productos.name %></td>
                            <td style="text-align:center"><%= pedido_producto.cantidad %></td>
                            <td style="text-align:right">$<%= pedido_producto.productos.price.to_i * pedido_producto.cantidad %> MXN</td>
                        </tr>
                        <% total += pedido_producto.productos.price.to_i * pedido_producto.cantidad %>
                    <% end %>
					</table>
                </div>
                <br>
                <div style="text-align:right; border-top: 1px solid #BBB; padding-top: 8px; padding-right: 3px">	<b>Total: $<%= total %> MXN</b>
                <br/>(Precio de envío incluido: $160 MXN)
                </div>
			</div>
           	<p><b>Asi mismo, si deseas apresurar la compra, puedes contactarnos en los siguientes números</b></p>
            <div style="margin-left:12px">
                Celular (Iusacell): 9993 38 86 91 <br>
                Celular (Telcel): 9991 34 49 86
            </div>
           	<p><b>Ambos números en Yucatán</b></p>

            <br>
            <p>MiAlacena.mx <br /> Envíos a todo México de productos locales auténticos de cada Estado.</p>
		</div>
	</div>
</body>
</html>

