.container
  .logo
    =image_tag "logo.png", class: "img-responsive"
  .banner
    .square TE ENVIAMOS TUS PRODUCTOS FAVORITOS
    .badge
      =image_tag "badge.png", class: "img-responsive"
  .row
    .col-md-6
      .slide-a
        %h2
          DONAS GLASEADAS
          %br/
          KRISPY KREAM
        %h3
          %i.fa.fa-plane
          ENTREGA: 11 DE JUNIO EN  
          %br/
          %span.ciudad
            MERIDA, YUCATAN
        .boton
          = link_to "COMPRA AHORA", "https://www.compropago.com/comprobante/?id=a68a3347-78ec-4f99-aeb1-4a7f2a17d8f0", class: "btn btn-block btn-primary", :onclick => "trackOutboundLink('https://www.compropago.com/comprobante/?id=a68a3347-78ec-4f99-aeb1-4a7f2a17d8f0')"

    .col-md-6
      .slide-b
        %h2
          ROSCA BRIOCHE
          %br/
          TERE CAZOLA
        %h3
          %i.fa.fa-plane
          ENTREGA: 18 DE JUNIO EN EL 
          %br/
          %span.ciudad
            DISTRITO FEDERAL
        .boton
          = link_to "COMPRA AHORA", "https://www.compropago.com/comprobante/?id=3e21b585-c48c-4413-86ef-ba1f57a1f68c", class: "btn btn-block btn-primary", :onclick => "trackOutboundLink('https://www.compropago.com/comprobante/?id=3e21b585-c48c-4413-86ef-ba1f57a1f68c')"

  .row
    .col-md-12

      %h3.text-center
        ¿Buscas otro producto? Háznoslo saber:

        %p 
          %br/
          = mail_to "hola@mialacena.mx"
  %hr/

  %h2.text-center.prensa
    MENCIONES EN PRENSA

  .row
    .col-md-3

      = link_to image_tag("milenio.png", :class => "img-responsive img-center"), "http://www.facebook.com/mialacena.mx/photos/a.1492333820980140.1073741828.1491164187763770/1518361511710704/", :target => "_blank"

    .col-md-3

      = link_to image_tag("yucatan.png", :class => "img-responsive img-center"),  "http://yucatan.com.mx/tecnologia/internet/emprendedores-yucatecos-patrocinados-por-startup-mexico", :target => "_blank"
    .col-md-3

      = link_to image_tag("un1on.png", :class => "img-responsive img-center"), "http://www.unionyucatan.mx/articulo/2014/07/09/ciudadanos/jovenes-llenan-tu-alacena-de-productos-yucatecos ", :target => "_blank"

    .col-md-3

      = link_to image_tag("startupmx.png", :class => "img-responsive img-center"), "http://www.startup.mx/startup-pitch-mi-alacena/", :target => "_blank"

  %hr/

  .row.footer
    .col-md-3.col-xs-12
      %address
        MI ALACENA DE MEXICO LOGISTICA SAPI DE CV 
        %br/
        IGNACIO ALLENDE 21 AMPLIACION TORRE BLANCA 
        %br/
        CP 11289, CIUDAD DE MEXICO

    .col-md-9.col-xs-12.text-right
      %p
        CON APOYO DE
      %ul.list-inline
        %li
          =image_tag("sum.png", :class => "img-responsive img-center")
        %li
          =image_tag("inadem.png", :class => "img-responsive img-center")

        %li
          =image_tag("cdmx.png", :class => "img-responsive img-center")

