.container
  .logo
    =image_tag "logo.png", class: "img-responsive"
  .banner
    .row
      .to-form.col-md-offset-7.col-md-5.text-center
        %h2
          SOLICITA PRODUCTOS DE
          TODO MEXICO Y 
          ESTADOS UNIDOS
        .boton
          = link_to "SOLICITAR AHORA", logistica_path, class: "btn btn-primary"
  .row
    .col-md-6
      .slide-a
        %h2
          = @kk.title.html_safe
        %h3
          %i.fa.fa-plane
          ENTREGA: 
          = @kk.date 
          %br/
          %span.ciudad
            = @kk.city
          %br/
          %i.fa.fa-dollar
          = @kk.price
        .boton
          = link_to "COMPRA AHORA", "#", class: "btn btn-block btn-primary",:data => {'paypal' => "#{@kk.paypal}", 'compropago' => "#{@kk.link}", 'payment' => true}
    .col-md-6
      .slide-b
        %h2
          = @cazola.title.html_safe
        %h3
          %i.fa.fa-plane
          ENTREGA: 
          = @cazola.date 
          %br/
          %span.ciudad
            = @cazola.city
          %br/
          %i.fa.fa-dollar
          = @cazola.price
        .boton
          = link_to "COMPRA AHORA", "#", class: "btn btn-block btn-primary",:data => {'paypal' => "#{@cazola.paypal}", 'compropago' => "#{@cazola.link}", 'payment' => true}

  .row
    .col-md-4
      .slide-c
        %h2
          = @kk_surtida.title.html_safe
        %h3
          %i.fa.fa-plane
          ENTREGA: 
          =@kk_surtida.date
          %br/
          %span.ciudad
            =@kk_surtida.city
          %br/
          %i.fa.fa-dollar
          =@kk_surtida.price
        .boton
          = link_to "COMPRA AHORA", "#", class: "btn btn-block btn-primary", :data => {'paypal' => "#{@kk_surtida.paypal}", 'compropago' => "#{@kk_surtida.link}", 'payment' => true}
    .col-md-4
      .slide-d
        %h2
          = @hojaldra.title.html_safe
        %h3
          %i.fa.fa-plane
          ENTREGA: 
          =@hojaldra.date
          %br/
          %span.ciudad
            =@hojaldra.city
          %br/
          %i.fa.fa-dollar
          =@hojaldra.price
        .boton
          = link_to "COMPRA AHORA", "#", class: "btn btn-block btn-primary" ,:data => {'paypal' => "#{@hojaldra.paypal}", 'compropago' => "#{@hojaldra.link}", 'payment' => true}
    .col-md-4
      .slide-e
        %h2
          = @bolita.title.html_safe
        %h3
          %i.fa.fa-plane
          ENTREGA: 
          =@bolita.date
          %br/
          %span.ciudad
            =@bolita.city
          %br/
          %i.fa.fa-dollar
          =@bolita.price
        .boton
          = link_to "COMPRA AHORA", "#", class: "btn btn-block btn-primary", :data => {'paypal' => "#{@bolita.paypal}", 'compropago' => "#{@bolita.link}", 'payment' => true}
  .buffer-30
  .row.mail
    .col-md-12.text-center

      %h3
        ¿Cómo funciona Mi Alacena? ¡Conócenos!
      .video-container
        %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :src => "http://www.youtube.com/embed/#{"TKLic3Fz9yU"}", :title => "YouTube video player"}
  %hr/

  %h2.text-center.prensa
    MENCIONES EN PRENSA

  .row
    .col-md-3

      = link_to image_tag("milenio.png", :class => "img-responsive img-center"), "http://www.facebook.com/mialacena.mx/photos/a.1492333820980140.1073741828.1491164187763770/1518361511710704/", :target => "_blank"

    .col-md-3

      = link_to image_tag("yucatan.png", :class => "img-responsive img-center"),  "http://yucatan.com.mx/tecnologia/internet/emprendedores-yucatecos-patrocinados-por-startup-mexico", :target => "_blank"
    .col-md-3

      = link_to image_tag("un1on.png", :class => "img-responsive img-center"), "http://www.unionyucatan.mx/articulo/2014/07/09/ciudadanos/jovenes-llenan-tu-alacena-de-productos-yucatecos ", :target => "_blank"

    .col-md-3

      = link_to image_tag("startupmx.png", :class => "img-responsive img-center"), "http://www.startup.mx/startup-pitch-mi-alacena/", :target => "_blank"

  %hr/

  .row
    .col-md-12.tiendas
      %p
        Recibimos tus pagos en:

      %ul.list-inline.text-center
        %li
          =image_tag "oxxo.png", :class => "img-responsive img-center logo-tienda"
        %li
          =image_tag "extra.png", :class => "img-responsive img-center logo-tienda"
        %li
          =image_tag "seven.jpg", :class => "img-responsive img-center logo-tienda"
        %li
          =image_tag "walmart.png", :class => "img-responsive img-center logo-tienda"
        %li
          =image_tag "superama.png", :class => "img-responsive img-center logo-tienda"
        %li
          =image_tag "sams.png", :class => "img-responsive img-center logo-tienda"
        %li
          =image_tag "vips.png", :class => "img-responsive img-center logo-tienda"
        %li
          =image_tag "soriana.png", :class => "img-responsive img-center logo-tienda"
        %li
          =image_tag "aurrera.png", :class => "img-responsive img-center logo-tienda"
        %li
          =image_tag "coppel.png", :class => "img-responsive img-center logo-tienda"
        %li
          =image_tag "elektra.png", :class => "img-responsive img-center logo-tienda"
        %li
          =image_tag "chedraui.png", :class => "img-responsive img-center logo-tienda"
        %li
          =image_tag "mastercard.png", :class => "img-responsive img-center logo-tienda"
        %li
          =image_tag "visa.png", :class => "img-responsive img-center logo-tienda"

  %hr/


  .row.footer
    .col-md-3.col-xs-12
      %address
        MI ALACENA DE MEXICO LOGISTICA SAPI DE CV 
        %br/
        IGNACIO ALLENDE 21 AMPLIACION TORRE BLANCA 
        %br/
        CP 11289, CIUDAD DE MEXICO

    .col-md-9.col-xs-12.text-right
      %p
        CON APOYO DE
      %ul.list-inline
        %li
          =link_to image_tag("sum.png", :class => "img-responsive img-center"), "http://www.startupmexico.com/startup_mialacena", :target => "_blank"
        %li
          =image_tag("inadem.png", :class => "img-responsive img-center")
        %li
          =image_tag("cdmx.png", :class => "img-responsive img-center")

.hidden
  = image_tag "paypal.png", :id => "paypal_image"
  = image_tag "compropago.png", :id => "compropago_image"