<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<p><%= @response["payment_instructions"]["description"] %>
		<ul>
			<li><%= @response["payment_instructions"]["step_1"] %></li>
			<li><%= @response["payment_instructions"]["step_2"] %></li>
			<li><%= @response["payment_instructions"]["step_3"] %></li>
		</ul>
		<%= @response["payment_instructions"]["note_extra_comition"] %>
		<%= @response["payment_instructions"]["note_expiration_date"] %></p>
		<h3 class="text-center">¡Gracias por tu compra!</h3>
	</div>
</div>

<!-- Facebook Conversion Code for Landing Krispy Kreme -->
<script>(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6014769010459', {'value':'0.01','currency':'MXN'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6014769010459&amp;cd[value]=0.01&amp;cd[currency]=MXN&amp;noscript=1" /></noscript>