<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Envíos a todo México de productos locales auténticos de cada Estado.">
    <meta name="author" content="MiAlacena">

    <%= favicon_link_tag 'favicon.ico' %>

    <!-- for Facebook -->          
    <meta property="og:title" content="MiAlacena.mx" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= asset_url "marco.png" %>" />
    <meta property="og:url" content="http://MiAlacena.mx/" />
    <meta property="og:description" content="Envíos a todo México de productos locales auténticos de cada Estado." />

    <!-- for Twitter -->          
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="MiAlacena.mx" />
    <meta name="twitter:description" content="Envíos a todo México de productos locales auténticos de cada Estado." />
    <meta name="twitter:image" content="<%= asset_url "marco.png" %>" />

    <title>Mi Alacena</title>

    <%= stylesheet_link_tag 'simple', 'http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' %>
    <%= stylesheet_link_tag    'simple', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'simple', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    </head>

    <body>

        <%= yield %>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-50107244-1', 'mialacena.mx');
          ga('send', 'pageview');

        </script>

</body>
</html>
